  
.read_and_understood_wrapper div.read_and_understood {
  float: left;
  padding: 3.3px 0 10px 7px;
	margin-right: 10px;
  background: url(read_and_understood.gif) no-repeat 0 0;
  width: 98px;
  height: 150px;
  position: relative;
  font: normal 11px/1.3 "Lucida Grande","Lucida","Arial",Sans-serif;
}
    
.read_and_understood_wrapper div.read_and_understood.selected {
  background-position: -105px 0;
}
    
.read_and_understood_wrapper div.read_and_understood.selected .read_and_understood-select {
  display: none;
}
    
.read_and_understood-select {
  display: block;
  float: left;
  position: absolute;
  top: 118px;
  left: 10px;
  width: 85px;
  height: 23px;
  background: url(button.gif) no-repeat 0 0;
	color: white !important;
	font-weight: bold !important;
  text-decoration: none !important;
/*  text-indent: -9999px;*/
  text-align: center;
	padding-top: 4px;
}
    
.read_and_understood_wrapper div.read_and_understood input {
  display: none;  
}
    
a.read_and_understood-deselect {
  display: none;
  color: white !important;
  font-weight: bold !important;
  text-decoration: none !important;
  position: absolute;
  top: 120px;
  right: 17px;
}

a.read_and_understood-locked {
	display: none;
  color: white !important;
  font-weight: bold !important;
	text-decoration: none !important;
  position: absolute;
  top: 120px;
  right: 10px;
}
    
.read_and_understood_wrapper div.read_and_understood.selected a.read_and_understood-deselect {
  display: block;
}

.read_and_understood_wrapper div.read_and_understood.selected a.read_and_understood-locked {
  display: block;
}
    
.read_and_understood_wrapper div.read_and_understood p.read_and_understood_title {
  text-align: center;
  padding: 8px;
}