
.read_and_understood_title {
	display: inline;
	font-weight: bold;
}

.read_and_understood_description {
	display: block;
	font-size: 0.85em;
}

.read_and_understood_wrapper {
	margin: 0;
	padding: 0;
}